:root {
  --accent-color: #404bbf;
  --background-color: #404bbf;
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

button {
  cursor: pointer;
}

body {
  font-family: "Roboto", sans-serif;
  background: #fff;
  color: #434455;
}

/*PAGE HEADER*/

/*Navigation*/
.logotype {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.another-color-text {
  color: #2e2f42;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.menu-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}

/*Contacts*/
.contacts {
  font-style: normal;
}
.contacts-type {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.contacts-type:hover,
.contacts-type:focus {
  color: var(--accent-color);
}

/*HERO SECTION*/
.main-section {
  background: #2e2f42;
}
.main-section-title {
  color: #ffffff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.main-title-button {
  background: #4d5ae5;

  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.main-title-button:hover,
.main-title-button:focus {
  background-color: #404bbf;
}

/*Features Section*/
.features-section {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.features-goal {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.feautres-goal-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*Our Team*/
.our-team-part {
  background: #f4f4fd;
}

.team-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.team-card {
  background: #fff;
}

.person-team {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.person-team-position {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*Our Portfolio*/
.portfolio-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.portfolio-card {
  border: 1px solid var(--cornflower, #e7e9fc);
  background: var(--white, #fff);
}

.portfolio-name {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.portfolio-kind {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*FOOTER*/
.footer-section {
  background: #2e2f42;
}

.secondary-color-text {
  color: #f4f4fd;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-slogan {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
